    @font-face {
      font-family: ProximaNova;
      src: url(./Proxima\ Nova\ Reg.ttf);
    }
    @font-face {
      font-family: ProximaBold;
      src: url(./Proxima-Nova-Bold.otf);
    }
    @font-face {
      font-family: ProximaItalic;
      src: url(./Proxima-Nova-Reg-It.otf);
    }
    @font-face {
      font-family: LinotypeBold;
      src: url(./DidotLTStd-Bold.ttf);
    }
    @font-face {
      font-family: Linotype;
      src: url(./DidotLTStd-Headline.ttf);
    }
 h2{
      font-family: Linotype;
      letter-spacing: 1px;
      color:#0D4B5F;
    }
 h4
    {
      font-family: ProximaNova;
      color:#000;
      padding: 5px;
      font-size: 16px;
    }
 p{
      font-family: ProximaNova;
      color:#474749;
    }    
 img
    {
      width: 30%;
      padding: 10px;
    }
  hr {
      margin: auto;
      border-top: 1px solid black;
      width:85%;
    }
    span{
      color:#FF0000;
     }
    
      a
      {
        color: #fff;
        text-decoration: none;
        font-family: ProximaNova;
        font-weight: 700;
        font-size: 16px;
      }
    
  input
  {
    background-color: #F3F6F7;
    border-radius: 6px;
    border:none;
    padding: 10px;
  }
  input::placeholder
{
  font-family: ProximaNova;
}
#html
{
  accent-color: #0D4B5F;
}
label
{
  font-family: ProximaBold;
}
.container-fluid
    {
      background-color: #F3F6F7;
      
    }
.container
{
  border: 1px #0D4B5F solid;
  border-radius: 6px;
  width:50%;
  height:auto;
  padding-top:20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.p-container
{
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./images/Background_line.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
   
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 14px;
    
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #fff;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #fff;    
  }
  .tab button.active .box
  {
    background-color: #0D4B5F;
  }
  .tab button.active #progress-text
  {
    color: #fff;
  }
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }
  .bg-image
  {
    background-image: url(./images/Background_line.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
  }
  .box
  {
    background-color: #fff;
    width:110%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 5px;
    box-shadow: 2px 2px 10px 5px #F0F0F0;
    
  }
  .italic
    {
      font-family: ProximaItalic;
    }
    .m-30
    {
      margin-top: 30px;
    }
   
    .btn-lg
    {
      font-family: Linotype ;
      font-weight: 600;
      font-size: 18px !important;
      color: #26A95E;
      background-color: #D3EEDF;
      width:100%;
      height:40px;
      border-radius: 6px;
      border: none;
    
    }
    .primary-btn-lg
    {
      width:203px;
      height:40px;
      background-color: #0D4B5F;
      color: #fff;
      font-family: ProximaNova;
      font-weight: 600;
      border-radius: 6px;
      font-size: 16px;
      border:none;
    }
  .radio label
  {
    font-family: ProximaNova;
  }
  #progress-text
  {
    color:#474749;
    font-family: ProximaNova;
    font-weight: 600;
    text-align: center;
  }

  #progress-header
  {
    color:#474749;
    font-family: LinotypeBold;
    text-align: center;
    background-color:#F3F6F7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: 46px;
    border-radius: 46px;
  }
  #no_margin
  {
    margin-bottom: 0px;
  }
    
 
#text
{
  background-color: rgb(243, 246, 247);
  border-radius: 6px;
  border: none;
  padding: 10px;
  font-family: ProximaNova;
}
#revenue
{
  width:30%;
  height: 40px;
  padding: 20px;
  background-color: #F3F6F7;
  border: none;
  border-radius: 6px;
}
#freeform
{
  width:90%;
  height: auto;
  padding: 20px;
  background-color: #F3F6F7;
  border: none;
  border-radius: 6px;
}
#Showrooom button
{
  margin:20px;
}
#Designer form
{
  padding-top: 10px;
  padding-bottom: 10px;
}

#Retailer form
{
  padding-top: 10px;
  padding-bottom: 10px;
}
#general
{
  padding-top: 10px;
  padding-bottom: 10px;
}
.tab .row{
  --bs-gutter-x: 8rem;
}
